In [12]:
x,y=int(input('Enter a String')),int(input('Enter a String'))
print("Entered string is " , x)

Enter a String10
Enter a String10
Entered string is  10

In [1]:
x=20
print(x)
print('Hello World')
print('Hello')
print('Hello India')
break
print('Hello Hindustan')
print('Hello Pakistan')

20
Hello World
Hello
Hello India

SyntaxError: 'break' outside loop (<ipython-input-1-308fddefa467>, line 6)

In [25]:
x='Hello' #Immutable
del x
print(x)

NameError: name 'x' is not defined

In [39]:
x='2'
x=int(x)
print('Value is',x)

Value is 2

In [26]:
x="Hello Sanjeet coder"
print(x.replace("Sanjeet","Ranjeet"))

Hello Ranjeet coder

In [36]:
x="123456"
x.isnumeric()

True

In [78]:
x=',,,,,,,,,,,,sanjeet,,,,,,,,,,, coder...........   '
x.strip().replace(',','').replace('.','')

'sanjeet coder'

In [86]:

x='Sanjeet Coder ! Hello Coder'
x.index('Coder',8, 100)

8

In [88]:
x=',,,,,,,,,,,,sanjeet,,,,,,,,,,, coder...........   '
x.find('p')

-1

In [90]:
x1='Sanjeet'
y1='Coder'
print(x1.join(y1))

CSanjeetoSanjeetdSanjeeteSanjeetr

In [97]:
x='panjeet'
print(x.upper())
print(x.capitalize())

PANJEET
Panjeet

In [105]:
x=['s','a','n','j','e','e','t']
print(''.join(x))

s#a#n#j#e#e#t

In [1]:
x=[1,2,3]
type(x)

list

In [14]:
y=lambda x:for i in range(x):print(i)

y(4)

SyntaxError: invalid syntax (<ipython-input-14-12fa78bd00d5>, line 1)

In [15]:
x=(1,2,3)
print(x[0])

1

In [5]:
def y(x):
    return x*2

y(2)

4

In [17]:
from collections import namedtuple
a = namedtuple('courses' , 'name , tech')
s = a('data science' , 'python')
print(s)

courses(name='data science', tech='python')